body{
    overflow: auto;
    margin: 0;
    text-align: center;
}

nav{
    background-color: steelblue;
    padding: 25px;
}

a{
    padding: 25px;
    font-size: 1.5em;
    color: white;
    margin: 40px;
    text-decoration: none;
}
a:hover{

    background-color: white;
    color : steelblue;
}
img{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
}

p{
    margin: 50px auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

footer{
    padding: 2px;
    background-color: steelblue;
    color: white;
}

h1{
    margin: 50px 0;
    color:#123;
    background-color: lightgray;
    border: 2px groove rgb(2,2,0.2,0.2);
    border-radius: 15px;
    transition: 1s;

}

h1:hover{
    color: gray;
    letter-spacing: 2px;
    background-color: lightblue;
    border-radius: 2px;
    transform: rotateX('angle');
}